<header>
<div class="topbar">
    <div id="inner-topbar">
        <a href="/"><h1>Jared Counts</h1></a>
        <div class="main">
            <ul>
                <li>
                    <h3><a href="/about.html">About</a></h3>
                </li>
                <li>
                    <h3><a href="{% asset resume.pdf @path %}">Resume</a></h3>
                </li>
                <li>
                    <h3><a href="mailto:countsjared@gmail.com">Email</a></h3>
                </li>
            </ul>
        </div>
    </div>
</div>
</header>

