<head>
	<title>{{ page.title }}</title>
	
    {% asset "style.css" %}

	{% if page.custom_css %}
		{% for stylesheet in page.custom_css %}
			{{ stylesheet | append: ".css" | asset }}
		{% endfor %}
	{% endif %}
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	{% asset common.js %}

	{% if page.custom_js %}
		{% for js in page.custom_js %}
            {{ js | append: ".js" | asset }}
		{% endfor %}
	{% endif %}
</head>

<body>
	{% include site-header.html %}

	<div id="wrap"><div id="inner-wrap">
	<div id="content-wrap"><div id="content">

		{{ content }}

	</div></div>
	{% include site-nav.html %}
	</div></div>

</body>